.app-container {
  display: flex;
  height: 100vh;
}

.container-outer {
  background: #ebe8e8;
}

.sidebar {
  width: 25%;
  background: #eeeded;
  padding: 20px;
  max-height: 999px;
}

.heading-child {
  display: flex;
  justify-content: center;
  box-shadow: 2px 5px 6px 1px lightgrey;
}

h2.form-heading {
  padding: 34px 0px 20px 35px;
}

h4 {
  display: inline-block;
}

input[type="text"] {
  margin-top: 15px;
  border-radius: 3px;
  border: 1.6px solid grey;
}
.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: green;
}

.sidebar a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 1.6px solid #bbb2b2;
  box-shadow: 2px 5px 6px 1px #a3bbe8;
  height: 8vw;
  text-align: center;
  font-size: 20px;
}

.sidebar a:hover {
  background-color: #ddd;
}
.sidebar a.active {
  background-color: #ddd;
}

input {
  width: 20vw;
  height: 3vh;
}
.space-between-container {
  flex: 1;
  width: 85%;
  background-color: white;
  overflow: overlay;
}

.main-content {
  flex: 1;
  /* align-items: center; */
  justify-content: baseline;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  margin: 2% 2% 2% 1%;
  border: 1.2px solid gray;
  border-radius: 7px;

  background-color: grey;
}

.Top {
  text-align: center;
  margin-bottom: 20px;
}

.inside-header {
  background: #dceefa;
  display: flex;
  word-spacing: 2px;
  /* justify-content: center; */
  width: auto;
  margin: 1vw;
  height: 155px !important;
  box-shadow: 2px 5px 6px 1px #a3bbe8;
  position: relative;
  bottom: 15px;
  margin: 15px 0px 25px 0px;
}
.main-content {
  align-items: center;
  width: 85%;
  background-color: white;
}

.heading-text h2 {
  padding-left: 25px;
}

span#btm-text {
  position: relative;
  bottom: 14px;
  left: 26px;
  font-weight: 500;
}
.very-btm {
  padding-left: 25px;
}

.main-content .inner-box {
  border: 1px solid white;
}
.form-container {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  position: sticky;
  justify-content: space-between;
  background: whitesmoke;
  margin: 0px 0;
  padding: 6px 0px 0px 0px;
}

.heading-main h3 {
  text-align: center;
  position: relative;
  font-size: 30px;
}

.inside-header {
  width: 100% !important;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 10px;
  }

  .main-content {
    margin: 5% 2%;
  }

  input {
    width: 100%;
  }
}
