.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
  background: #f0f0f093;
  padding: 20px;
}

.sidebar a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 2px solid black;
  height: 5vw;
  text-align: center;
}

.sidebar a:hover {
  background-color: #ddd;
}

input {
  width: 20vw;
  height: 3vh;
}
.space-between-container {
  flex: 1;
  width: 85%;
  background-color: white
}

.main-content {
  flex: 1;
  /* align-items: center; */
  justify-content: baseline;
  padding: 8px;
  display: flex;
  flex-direction: column;
  margin: 2% 2% 2% 7%;
  padding-top: 5%;
  border: 2px solid black;
  background-color: grey;
}

.Top {
  text-align: center;
  margin-bottom: 20px;
}

.inside-header h2 {
  background: rgb(169, 237, 237);
  /* height: 10vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1vw;
  height: 100%;
}
.main-content{
  align-items: center;
  width: 85%;
  background-color: white;
}
.form-container {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 10px;
  }

  .main-content {
    margin: 5% 2%;
  }

  input {
    width: 100%;
  }
}
